body {
    color: white;
    background-color: #292929;
    /*Border*/
    border: solid orange;
    border-width: 2px;
    border-radius: 4px;
    width: 200px;
    height: 200px;
}

#h3 {
    position: absolute;
    top: 10px;
    left: 15px;
}
#usernameLabel {
    position: absolute;
    top: 50px;
    left: 20px;
}

#username {
    position: absolute;
    top: 75px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#passwordLabel {
    position: absolute;
    top: 110px;
    left: 20px;
}

#password {
    position: absolute;
    top: 135px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}
#website {
    /*Placement*/
    position: absolute;
    top: 180px;
    right: 23px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
}
#website:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#return {
    position: absolute;
    top: 180px;
    left: 23px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#Logo {
    position: absolute;
    top: 20px;
    right: 25px;
}
