body {
    color: white;
    background-color: #292929;
    /*Border*/
    border: solid orange;
    border-width: 2px;
    border-radius: 4px;
    width: 200px;
    height: 250px;
}
#Logo {
    position: absolute;
    top: 20px;
    right: 25px;
}

#h3{
    top: 10px;
    left: 15px;
}

#form{
    display: none;
}

#UserLabel{
    position: absolute;
    top: 75px;
    left: 20px;
}

#Username{
    position: absolute;
    top: 100px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#PassLabel{
    position: absolute;
    top: 135px;
    left: 20px;
    
}

#Password{
    position: absolute;
    top: 160px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#Button{
    position: absolute;
    top: 230px;
    right: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#Button:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#PepperLabel{
    position: absolute;
    display: none;
    top: 75px;
    left: 20px;
}
#Pepper{
    display: none;
    position: absolute;
    top: 90px;
    left: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;

}

#returnSettings {
    position: absolute;
    display: inline;
    top: 230px;
    left: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#returnSettings:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#returnPop {
    position: absolute;
    display: none;
    top: 230px;
    left: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#returnPop:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}
#loginFail{
    display: none;
    position: absolute;
    color: white;
    top: 80px;
    left: 16px;
}