body {
    color: white;
    background-color: #292929;
    /*Border*/
    border: solid orange;
    border-width: 2px;
    border-radius: 4px;
    width: 200px;
    height: 280px;
}

.h3 {
    position: absolute;
    top: 10px;
    left: 15px;
}

#userLabel {
    position: absolute;
    top: 50px;
    left: 20px;
}

#username {
    position: absolute;
    top: 75px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#passLabelFirst {
    position: absolute;
    top: 110px;
    left: 20px;
}

#passLabelSecond {
    position: absolute;
    top: 170px;
    left: 20px;
}

#firstPassword {
    position: absolute;
    top: 135px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#secondPassword {
    position: absolute;
    top: 190px;
    left: 20px;
    color: black;
    background-color: #FFB732;
    /*Border*/
    border: solid #101010;
    border-width: 2px;
}

#create {
    position: absolute;
    top: 260px;
    right: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
}

#create:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#return {
    position: absolute;
    top: 260px;
    left: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#return:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#Logo {
    position: absolute;
    top: 20px;
    right: 25px;
}

#inUse {
    display: none;
    position: absolute;
    top: 225px;
    left: 20px;
    color: red;
}

#wrongPassword {
    display: none;
    position: absolute;
    top: 225px;
    left: 20px;
    color: red;
}

#accountSuccess {
    display: none;
    top: 60px;
}

#pepperMessage{
    position: absolute;
    top: 210px;
    left: 16px;
}

#pepperExpl{
    color: grey;
    text-decoration: none;
}