body {
    color: white;
    background-color: #292929;
    /*Border*/
    border: solid orange;
    border-width: 2px;
    border-radius: 4px;
    width: 200px;
    height: 250px;
}
#Logo {
    position: absolute;
    top: 20px;
    right: 25px;
}

#h3{
    top: 10px;
    left: 15px;
}

#importButton{
    position: absolute;
    top: 75px;
    left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    background-color: orange;
    text-decoration: none;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    font-size: 13px;
}

#importButton:hover{
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#exportButton{
    position: absolute;
    top: 100px;
    left: 40px;
    padding-left: 25px;
    padding-right: 27px;
    color: black;
    background-color: orange;
    text-decoration: none;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    font-size: 13px;
}

#exportButton:hover{
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#deleteButton{
    position: absolute;
    top: 125px;
    left: 40px;
    padding-left: 25px;
    padding-right: 27px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
}

#deleteButton:hover{
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#returnPop {
    position: absolute;
    display: inline;
    top: 230px;
    left: 20px;
    padding: 2px;
    color: black;
    background-color: orange;
    /*Border on the button*/
    border: solid black;
    border-width: 1px;
    border-radius: 4px;
    text-decoration: none;
}

#returnPop:hover {
    background-color: #E59400;
    border-color: #E59400;
    color: white;
    cursor: pointer;
}

#loggedOutParagraph{
    position: absolute;
    display: none;
    padding: 5px;
    top: 160px;
    left: 20px;
}


